# Dependencies
node_modules/
npm-debug.log

# Docker
docker-compose.override.yml
Dockerfile
.dockerignore

# Build artifacts
build/
dist/
.next/

# Git
.git
.gitignore

# Env
.env
.env.local

# Tar files
*.tar
