version: "3.9"

services:

  backend:
    build:
      context: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      FLASK_ENV: development
      PYTHONPATH: /app
    volumes:
      - ./api:/app/api
      - backend_instance:/app/api/instance
    command: flask run --host=0.0.0.0 --port=5000

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        REACT_APP_API_URL: "http://localhost:5000"
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

volumes:
  backend_instance:
