services:
  backend:
    build:
      context: ./api
    init: true
    environment:
      - FLASK_APP=app.py
      - PYTHONPATH=/app
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./api:/app
    restart: unless-stopped
