version: "3.8"

services:
  frontend:
    build:
      context: .
      args:
        - REACT_APP_API_URL=${REACT_APP_API_URL}
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build:
      context: .
    environment:
      - FLASK_APP=api.wsgi
      - PYTHONPATH=/app
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - backend_instance:/app/instance  # For Flask instance folder (SQLite DB, configs, etc.)
    restart: unless-stopped

volumes:
  backend_instance:
