.display {
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
  font-size: 1.1rem;
  font-family: "Sansation", serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.display:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  line-height: 1.8;
  letter-spacing: 1px;
  font-size: 18px;
}

ul li strong {
  color: #8d5a97;
  font-size: 18px;
}

.display button {
  background-color: #8d5a97;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.display button:hover {
  background-color: #56365c;
}

.edit,
.logout {
  background-color: #8d5a97;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease;
  font-size: 22px;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.small-text {
  font-size: 18px;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.edit:hover,
logout:hover {
  background-color: #56365c;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-actions {
  display: flex;
  gap: 10px;
}

.icon-actions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #6a1b9a;
  font-size: 18px;
}

.icon-actions button:hover {
  color: #c1aeda;
}

.divider {
  border: none;
  border-top: 2px solid rgba(0, 0, 0);
  margin: 10px 0;
}

h1 {
  text-align: center;
  margin-top: 80px;
}

.collapsed .ID_element {
  display: none;
}

.appointmentList {
  min-width: 220px;
  max-width: 1000px;
  margin: 24px auto 0 auto;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 18px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul.appointmentList li.ID_element {
  padding-left: 1em;
  list-style: none;
  width: 100%;
}

ul.appointmentList li .info {
  padding: 0.75em 1em;
  margin-top: 6px;
  margin-right: 20px;
  background: rgba(182, 182, 182, 0.349);
  border-radius: 6px;
  transition: all 1s ease-in-out;
}

label {
  font-size: 1rem;
  display: block;
  padding: 0.5em 0;
}
label:hover {
  color: #0077cc;
}

.searchContainer {
  min-width: 220px;
  max-width: 1000px;
  margin: 2px auto 0 auto;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 75px;
}

.searchBar {
  flex: 1 1 33%;
  padding: 8px;
  margin-bottom: 12px;
  max-width: 33%;
}

.closeNotifier,
.midNotifier,
.farNotifier {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align: middle;
}
.closeNotifier {
  background-color: #a02020c0;
}
.midNotifier {
  background-color: #c48b10c0;
}
.farNotifier {
  background-color: #53a020c0;
}
.windowTitle {
  color: #e24444c0;
}

.visitNumContainer {
  flex: 1;
  text-align: left;
  font-weight: bold;
  padding-left: 50px;
}

.dotContainer {
  text-align: right;
  padding-right: 100px;
}

.OoaNotifier {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #20a084c0;
  vertical-align: middle;
  align-items: right;
}

.filterRowBox {
  display: flex;
  gap: 15px;
  margin-left: auto;
  align-items: center;
  padding-right: 10%;
}

.patientRow {
  cursor: pointer;
  font-weight: bold;
  flex: 1;
}

.headings-row,
.ID_element-row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.heading-left,
.heading-right {
  flex: 1;
  padding-left: 50px;
  padding-right: 50px;
}

.heading-right {
  text-align: right;
}

.idRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.patientRow {
  cursor: pointer;
  font-weight: bold;
}

.CalBody {
  background: #f3f3f3;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 80px;
  margin-bottom: 30px;
}

.body {
  background: #f3f3f3;
  text-align: center;
  font-family: Arial, sans-serif;
}

.calendar-wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  height: 700px;
  max-width: 1500px;
  margin: 18px auto;
  overflow: hidden;
}

.formButton {
  cursor: "pointer";
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.windowView {
  flex: 1;
  min-width: 250px;
  width: 500px;
  padding-right: 50px;
}

.rbc-calendar {
  background-color: #ffffff;
  color: #212b32;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 2px solid #02a78b;
  border-radius: 10px 10px 0 0;
  font-style: italic;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-group {
  display: flex;
  border: 1px solid #7f9e99;
  border-radius: 10px;
  overflow: hidden;
}

.btn-group button {
  background-color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: bold;
  color: #00473e;
  transition: 0.2s;
}

.btn-group button:hover {
  background-color: #d9f4ef;
}

.btn-group .active {
  background-color: #02a78b;
  color: white;
}

.toolbar-label {
  font-size: 1.2em;
  flex-grow: 1;
  text-align: center;
}

/* Day Headers */
.rbc-header {
  background-color: transparent;
  color: #00473e;
  border: none;
  padding: 10px 16px;
  margin: 0;
  cursor: pointer;
  flex: 1;
}

/* Time slots & Day Grid */
.rbc-time-slot,
.rbc-day-slot {
  border-color: #aeb7bd;
}

/* Calendar Events */
.rbc-event {
  background-color: #02a78b;
  color: #ffffff;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 0.9rem;
}

/* Today Highlight */
.rbc-today {
  background-color: #90ffa8;
}

/* Agenda View */
.rbc-agenda-view table {
  border: 1px solid #aeb7bd;
}

.rbc-agenda-view td,
.rbc-agenda-view th {
  padding: 8px;
  border: 1px solid #aeb7bd;
}

ul.collapsable {
  border-left: solid 5px #b62a1d;
  background: #efefef;
  border-radius: 5px;
  list-style: none;
  padding: 10px;
  min-width: 220px;
  max-width: 1000px;
  width: flex;
}

/* Styling for listed objects*/
ul.collapsable ul li {
  line-height: 1.2em;
  cursor: pointer;
}
ul.collapsable li a {
  display: block;
  margin-left: 0em;
  padding: 0.5em;
  text-decoration: none;
  color: #444;
}

.search-button,
.clear-button,
.block-button {
  background-color: #8d5a97;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  width: 60%;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 22px;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  gap: 10px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.noshow-check {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
  flex-shrink: 0;
}

.checkbox-container:hover input ~ .noshow-check {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .noshow-check {
  background-color: #8d5a97;
}

.noshow-check:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .noshow-check::after {
  display: block;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

input[type="datetime-local"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  width: 90%;
  box-sizing: border-box;
}

.rbc-event-blocked {
  background-color: red !important;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

.rbc-blocked-cell {
  background-color: #f19e9e;
}

body {
  text-align: center;
}
.UserInfo {
  background: linear-gradient(to right, #ffffff, #fae3ff);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-family: "Sansation";
}
.form-border {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

h1 {
  font-size: x-large;
  text-align: center;
  font-family: "Sansation";
  color: #000000;
}

fieldset {
  border: none;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 8px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  font-family: "Sansation";
  transition: border-color 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #8d5a97;
  outline: none;
  box-shadow: 0 0 5px rgb(78, 50, 83);
}

label {
  font-size: 20px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  font-family: "Sansation";
}

.submit-button {
  background-color: #8d5a97;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 22px;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px;
  margin: 8px auto 20px auto;
  width: 60%;
  font-weight: 600;
  display: block;
  font-family: "Sansation";
}

.submit-button:hover {
  background-color: #4e3253;
  transform: scale(1.02);
}

.submit-button:focus {
  outline: 2px solid #4e3253;
  outline-offset: 2px;
}

textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
}

select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-family: "Sansation";
}

.radio-group {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 0.1rem !important;
  margin: 0;
  font-size: 1rem;
  font-family: "Sansation";
}

@media (max-width: 600px) {
  .UserInfo,
  .form-border {
    width: 90%;
    padding: 15px;
  }
}
.heading-text {
  font-size: 36px;
  color: #8d5a97;
  font-family: "Sansation";
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #804e8a, #c794d1);
  background-size: cover;
  font-family: "Sansation", serif;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.login-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.title {
  color: #8d5a97;
  margin-bottom: 0.75rem;
  text-align: center;
  font-size: 36px;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-body label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: bold;
  color: black;
  font-family: "Sansation", serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-body input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #c4c4c4 !important;
  border-radius: 8px;
  transition: border-color 0.3s;
  font-family: "Sansation", serif;
  letter-spacing: 1px;
}

.form-body input:focus {
  border-color: #8d5a97;
  outline: none;
}

.login-button {
  background-color: #8d5a97;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 22px;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-button:hover {
  background: #56365c;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}

.signup-link a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}

.input-group {
  margin-bottom: 20px;
}

.input-icon-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px 10px;
  background-color: #fff;
}

.input-icon-wrapper .icon {
  margin-right: 10px;
  color: #888;
  font-size: 1.2rem;
}

.input-icon-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  background: transparent;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #804e8a, #c794d1);
  background-size: cover;
  font-family: "Sansation", serif;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.login-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.title {
  color: #8d5a97;
  margin-bottom: 0.75rem;
  text-align: center;
  font-size: 36px;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-body label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: bold;
  color: black;
  font-family: "Sansation", serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-body input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #c4c4c4 !important;
  border-radius: 8px;
  transition: border-color 0.3s;
  font-family: "Sansation", serif;
  letter-spacing: 1px;
}

.form-body input:focus {
  border-color: #8d5a97;
  outline: none;
}

.login-button {
  background-color: #8d5a97;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 22px;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-button:hover {
  background: #56365c;
  font-family: "Sansation", serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.input-group {
  margin-bottom: 20px;
}

.input-icon-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px 10px;
  background-color: #fff;
}

.input-icon-wrapper .icon {
  margin-right: 10px;
  color: #888;
  font-size: 1.2rem;
}

.input-icon-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  background: transparent;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
