.Footer {
  background: #f3f3f3;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 100px;
  margin-bottom: auto;
  font-family: "Sansation";
}

.container-pair {
  display: flex;
  padding: 10px;
  margin-bottom: auto;
  padding-inline: 20%;
  height: 100%;
  border-radius: 100% / 50% 50% 0 0;
  background: #ffffff;
  box-shadow: 0 -5px 10px -3px rgba(0, 0, 0, 0.3);
}

.box {
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  margin-left: 50px;
}

.contact-info {
  font-size: 1rem;
}
