.Footer {
  background: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 100px;
  margin-bottom: auto;
}

.container-pair {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-bottom: auto;
  padding-inline: 20%;
}

.box {
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  margin-left: 50px;
}

.contact-info {
  font-size: large;
}
