.Leave-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.Leave-content {
    background: #fff;
    padding: 25px 55px;
    border-radius: 12px;
    max-width: 400%;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.Leave-content label {
  display: inline-grid;
  font-weight: 600;
  padding-right:1rem;
}

.datePicker {
  display: block;
}

.formHeading {
  color: #8D5A97;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Sansation', serif;
  text-align: center;
}

.Leave-content input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.Leave-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.save-button {
    background-color: #8d5a97;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 18px;
    font-family: "Sansation", serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.save-button:hover {
  background-color: #4e3253;
  transform: scale(1.02);
}

.save-button:focus {
  outline: 2px solid #4e3253;
  outline-offset: 2px;
}

.cancel-button {
  background-color: #f44336;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
