.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #663e6e, #7d4caa, #598dbe);
  padding: 1rem 2rem;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 32.5px;
  top: 0px;
  z-index: 1000; /*Always over other elements so can interact */
}

.navbar-left .logo {
  height: 40px;
  width: 120px;
  text-decoration: none;
}

.navbar-center .nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Sansation";
  transition: color 0.3s ease;
}

.navbar-center .nav-links a:hover,
.navbar-right .nav-link:hover,
.navbar-right .user-icon:hover,
.nav-logout:hover {
  color: #d1c4e9;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 90px;
}

.navbar-right .nav-link,
.navbar-right .user-icon {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Sansation";
}

.nav-logout {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Sansation";
  border: none;
  background: none;
}
