.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    border: 2px solid #8D5A97;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
    overflow: hidden;
    display: flex;            
    flex-direction: column;
    align-items: center;
}

.popup-header {
    background-color: #8D5A97;
    color: white;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Sansation', serif;
    text-align: center;
    margin-bottom: 1rem;
}

.popup-content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    font-family: 'Sansation', serif;
}
.button-row {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.confirm-button, .cancel-button, .delete-button {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1rem;
  font-family: 'Sansation', serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.confirm-button {
    background-color: #8D5A97;
    color:white;
}

.confirm-button:hover {
    background-color: #5a3961;
}

.cancel-button {
    background-color: #6c757d;
    color:white;
}

.cancel-button:hover {
    background-color: #5a6268;
}

.delete-button {
    background-color: #c01616;
    color: white;
}

.delete-button:hover {
    background-color: rgb(143, 33, 33);
}

.date-edit{   
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}