h1 {
    text-align: center;
}

/* Collapsed state: hidden */
.collapsed .ID_element {
    display:none;
}

.appointmentList {
    min-width: 220px;
    max-width: 1000px;
    margin: 24px auto 0 auto; 
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Wrapper list item */
ul.appointmentList li.ID_element {
  padding-left: 1em;
  list-style: none;
  width: 100%;
}

/* Expanded info section */
ul.appointmentList li .info {
  padding: 0.75em 1em;
  margin-top: 6px;
  margin-right: 20px;
  background: rgba(182, 182, 182, 0.349);
  border-radius: 6px;
  transition: all 1s ease-in-out;
}

/* Icon and label hover */
label {
  font-size: 1rem;
  display: block;
  padding: 0.5em 0;

}
label:hover {
  color: #0077cc;
}

/* Search Bar */
.searchContainer {
  min-width: 220px;
  max-width: 1000px;
  margin: 2px auto 0 auto; 
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height:90px;
}

.visitWindowNotifier {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-Radius: 50%;
  background-Color: #a02020c0;
  margin-Right: 6px;
  vertical-Align: middle;
}

.filterRowBox {
  align-items: center;
  display: flex;
  gap: 15px;
  padding-left: 30px;
}
.patientRow {
  cursor: pointer;
  font-weight: bold; 
}

.headings-row,
.ID_element-row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.heading-left,
.heading-center,
.heading-right{
  flex: 1;
}

.heading-center{
  text-align: center;
}

.heading-right {
  text-align: right;
}

.idRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.patientRow {
  cursor: pointer;
  font-weight: bold;
}
