h1 {
    text-align: center;
    margin-top: 80px;
}

/* Collapsed state: hidden */
.collapsed .ID_element {
    display:none;
}

.appointmentList {
    min-width: 220px;
    max-width: 1000px;
    margin: 24px auto 0 auto; 
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Wrapper list item */
ul.appointmentList li.ID_element {
  padding-left: 1em;
  list-style: none;
  width: 100%;
}

/* Expanded info section */
ul.appointmentList li .info {
  padding: 0.75em 1em;
  margin-top: 6px;
  margin-right: 20px;
  background: rgba(182, 182, 182, 0.349);
  border-radius: 6px;
  transition: all 1s ease-in-out;
}

/* Icon and label hover */
label {
  font-size: 1rem;
  display: block;
  padding: 0.5em 0;

}
label:hover {
  color: #0077cc;
}

/* Search Bar Container*/
.searchContainer {
  min-width: 220px;
  max-width: 1000px;
  margin: 2px auto 0 auto; 
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height:75px;
}

/*Search Bar styling*/
.searchBar {
  flex: 1 1 33%;
  padding: 8px;
  margin-bottom: 12px;
  max-width: 33%;
}

/*Red Dot that indicates whether it's a window*/
.closeNotifier,
.midNotifier,
.farNotifier{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-Radius: 50%;
  vertical-Align: middle;
}
.closeNotifier{
  background-Color: #a02020c0;
}
.midNotifier{
  background-Color: #c48b10c0;
}
.farNotifier{
  background-Color: #53a020c0;
}
.windowTitle{
  color: #e24444c0
}

.visitNumContainer {
  flex: 1;
  text-align: left;
  font-weight: bold;
  padding-left: 50px;
}

.dotContainer {
  text-align: right;
  padding-right: 100px;
}

/*Cross indicates whether it's an OOA*/
.OoaNotifier {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-Radius: 50%;
  background-Color: #20a084c0;
  vertical-Align: middle;
  align-items: right
}

.filterRowBox {
  display: flex;
  gap: 15px;
  margin-left: auto;
  align-items: center;
  padding-right: 10%;
}

.patientRow {
  cursor: pointer;
  font-weight: bold; 
  flex: 1;
}

.headings-row,
.ID_element-row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

/*Make all a flex*/
.heading-left,
.heading-right{
  flex: 1;
  padding-left: 50px;
  padding-right: 50px
}

.heading-right {
  text-align: right;
}

.idRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.patientRow {
  cursor: pointer;
  font-weight: bold;
}
