/* Page Background */
body {
  background: #f3f3f3;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Wrapper Container for Calendar */
.calendar-wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 95%;
  max-width: 1000px;
  margin: 18px auto;
  overflow: hidden;
}

/* Base Calendar Styling */
.rbc-calendar {
  background-color: #ffffff;
  color: #212B32;
  border-radius: 10px;
  overflow: hidden;
}

/* Toolbar */
.rbc-toolbar {
  background-color: #7bc7b0;
  color: #00473E;
  padding: 10px;
  border-bottom: 2px solid #02A78B;
  border-radius: 10px 10px 0 0;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.rbc-toolbar button {
  background-color: #ffffff;
  border: none;
  color: #00473E;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.rbc-btn-group {
  display:flex;
  background-color: #ffffff;
  border: 1px solid #76cfc0;
  border-radius: 10px;
  padding: 0;
  overflow: visible;

}


.rbc-btn-group button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
}

.rbc-btn-group button:hover {
  background-color: #8bceba;
}

/* Day Headers */
.rbc-header {
  background-color: transparent;
  color: #00473E;
  border: none;
  padding: 10px 16px;
  margin: 0;
  cursor: pointer;
  flex: 1;
}

/* Timeslots & Day Grid */
.rbc-time-slot,
.rbc-day-slot {
  border-color: #AEB7BD;
}

/* Calendar Events */
.rbc-event {
  background-color: #02A78B;
  color: #ffffff;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 0.9rem;
}

/* Today Highlight */
.rbc-today {
  background-color: #90ffa8;
}

/* Agenda View */
.rbc-agenda-view table {
  border: 1px solid #AEB7BD;
}

.rbc-agenda-view td,
.rbc-agenda-view th {
  padding: 8px;
  border: 1px solid #AEB7BD;
}

