/* Page Background */
body {
  background: #f3f3f3;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Wrapper Container for Calendar */
.calendar-wrapper {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 150%;
  height: 700px;
  max-width: 1500px;
  margin: 18px auto;
  overflow: hidden;
}

.AppointmentToggle {
  padding-top:10px;
}

.formButton {
  cursor: 'pointer';
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.windowView {
  flex: 1;
  min-width: 250px;
  width: 500px;
  padding-right: 50px;
}

/*----------------------------------------Base Calendar Styling----------------------------------------*/
.rbc-calendar {
  background-color: #ffffff;
  color: #212B32;
  border-radius: 10px;
  overflow: hidden;
}

/* Toolbar */
.rbc-toolbar {
  background-color: #ffffff;
  color: #00473E;
  padding: 10px;
  border-bottom: 2px solid #02A78B;
  border-radius: 10px 10px 0 0;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Toolbar button */
.rbc-toolbar button {
  background-color: #ffffff;
  border: none;
  color: #ffffff;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

/* Button group calender*/
.rbc-btn-group {
  display:flex;
  background-color: #ffffff;
  border: 1px solid #7f9e99;
  border-radius: 10px;
  padding: 0;
  overflow: visible;

}

.rbc-btn-group button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
}

.rbc-btn-group button:hover {
  background-color: #8bceba;
}

/* Day Headers */
.rbc-header {
  background-color: transparent;
  color: #00473E;
  border: none;
  padding: 10px 16px;
  margin: 0;
  cursor: pointer;
  flex: 1;
}

/* Time slots & Day Grid */
.rbc-time-slot,
.rbc-day-slot {
  border-color: #AEB7BD;
}

/* Calendar Events */
.rbc-event {
  background-color: #02A78B;
  color: #ffffff;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 0.9rem;
}

/* Today Highlight */
.rbc-today {
  background-color: #90ffa8;
}

/* Agenda View */
.rbc-agenda-view table {
  border: 1px solid #AEB7BD;
}

.rbc-agenda-view td,
.rbc-agenda-view th {
  padding: 8px;
  border: 1px solid #AEB7BD;
}

/*----------------------------------------Collapsable Booking Filter----------------------------------------*/

/* Styling for collapsable, sets red line on left*/
ul.collapsable {
  border-left: solid 5px #b62a1d;
  background: #efefef; 
  border-radius: 5px;
  list-style: none;
  padding: 10px; 
  min-width: 220px;
  max-width: 1000px;
  width: flex;
}

/* Styling for listed objects*/
ul.collapsable ul li {
  line-height: 1.2em; 
  cursor: pointer;
}
ul.collapsable li a {
  display: block; 
  margin-left: 0em; 
  padding: .5em;
  text-decoration: none;
  color: #444;
}   


