body {
    background:#f3f3f3;
    text-align: center;
}
.UserInfo {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transorm 0.2s;
    width: 500px;
    text-align: center;
    margin:auto;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-border {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin:auto;
    margin-top: 20px;
}

h1 {
    font-size: x-large;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

fieldset {
    border: none;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

label {
    font-size: 18px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #000000;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin: 8px 0 20px 0;
    border: none;
    color:white;
    cursor: pointer;
    background-color: #4caf50;
    width: 60%;
    font-size: 16px;
}

textarea {
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}